* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  background-color: #fffbf7;
}
.header {
  margin: 40px 0;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}
.logo {
  width: 20%;
}
.logo img {
  vertical-align: middle;
  width: 140px;
}
.header > * {
  display: inline-block;
  font-size: 16px;
  height: 100%;
}
.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  height: 45px;
}
.menu-item {
  display: inline;
  font-size: 16px;
  margin: 0 10px;
}
.actions {
  width: 20%;
  text-align: left;
  font-size: 0;
}
.actions > * {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  display: inline-block;
}
.actions a {
  color: #67b54b;
  font-weight: bold;
  text-decoration: none;
}
.actions a:hover {
  cursor: pointer;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

.intro {
  width: 80%;
  margin: 30px auto;
}

.intro img {
  width: 80%;
}

main {
  margin-top: 200px;
  text-align: center;
}

.section {
  margin: 30px auto;
}
.section h1 {
  color: #025157;
  font-family: 'Alegreya', serif;
  font-size: 60px;
  margin: 60px auto;
  font-weight: 800;
}
.section p {
  color: #46484c;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Slabo 27px', serif;
}
.section form {
  height: 55px;
  margin-bottom: 30px;
}

.section input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  border-radius: 8px;
  height: 100%;
}
.section button {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  padding: 6px 20px;
  margin-left: -10px;
}

.publish {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  flex: 1;
  padding: 0 25px;
}

.publish h3 {
  font-family: 'Alegreya', serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.publish input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  border-radius: 8px;
  height: 100%;
}
.publish button {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  padding: 6px 20px;
  margin-left: -10px;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.promo img {
  width: 120px;
  margin-top: 10px;
}

.go-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 100px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.features {
  margin-top: 50px;
  background-color: #025157;
  padding: 5% 10%;
  height: 1000px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.features .feature-card {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #dadada;
  margin: 0 15px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: left;
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}


.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}

@media (max-width: 575px){
  .navbar, .actions{
    display: none;
  }
  main{
    margin-top: 130px;
  }
  .section h1 {
    font-size: 35px;
  }
  .section input {
    width: 190px;
  }
  /*clase intro e hijos de la clase tipo imagen*/
  .intro > img{
    width: 100%;
  }
  .go-to-action{
    
    flex-direction: column;
    padding: 0 10px;
  }
  .go-to-action  video {
    width: 95%;
  }
  .go-to-action, .publish{
    margin-top: 10px;
  }
  form.signup-form input {
    width: 60%;
}
.features {
  padding: 5% 0;
  grid-template: repeat(4, 1fr) / 1fr;
}
.features, .feature-card, .feature-content > img{
  display: block;
}
.features .feature-card .feature-image img{
  display: none;
}

}
